<div class="media mn pa bb">
  <div class="hover text-center text-uppercase">
    <div class="mtx2"><a href="javascript:;" class="restore">restore</a></div>
  </div>
  <div class="media-left">
    <img src="/assets/img/av1.png" class="img-circle img-sm" alt="Profile Picture">
  </div>
  <div class="media-body">
    <h5 class="media-heading"><a href="/profile/{{ id }}">{{ name }}</a></h5>
    <a href="/profile/{{ id }}" class="btn-link">@samuelJackson</a>
    <!-- <br /> -->
    <p class="text-muted mar-btm">{{ moto }}</p>
  </div>
</div>