<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

  <img src="/assets/img/faces/3.jpg" alt="" class="img-circle img-xs ba">
  <span class="name">{{ name }}</span> <span class="caret"></span></a>
<ul class="dropdown-menu">
  <li><a href="/profile/{{ id }}">Profile</a></li>
  <li><a href="/profile/{{ id }}/settings">Settings</a></li>

  <li role="separator" class="divider"></li>
  <li><a href="/profile/{{ id }}/personalities">Change face</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>