<div class="row">
  <div class="col-md-9 pn">
    <div class="timeline mv">
      <!-- Timeline header -->
      <div class="timeline-header">
        <div class="timeline-header-title">Now</div>
      </div>
      <div class="timeline-entry">
        <div class="timeline-stat">
          <div class="timeline-icon"></div>
          <div class="timeline-time">2 Hours ago</div>
        </div>
        <div class="timeline-label">
          <div class="panel-body">
            <div class="panel-img">
              <img src="/assets/img/bg/2.jpeg" alt="" class="img-responsive"/>
            </div>
            <div class="panel-content pt">
              <h4>FaceLess - a new generation of social network or a fake?</h4>
              <small>By <a href="/profile/{{ author.id }}">{{author.name }}</a> | 5 Hours ago | 5 comments</small>
              <div class="mv">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
              <i class="fa fa-angle-double-right"></i> <a href="/posts/{{ id }}" class="">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="timeline-entry">
        <div class="timeline-stat">
          <div class="timeline-icon"></div>
          <div class="timeline-time">2 Hours ago</div>
        </div>
        <div class="timeline-label">
          <div class="panel-body">
            <div class="panel-img">
              <img src="/assets/img/bg/1.jpeg" alt="" class="img-responsive"/>
            </div>
            <div class="panel-content pt">
              <h4>FaceLess - a new generation of social network or a fake?</h4>
              <small>By <a href="/profile/{{ author.id }}">{{author.name }}</a> | 5 Hours ago | 5 comments</small>
              <div class="mv">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
              <i class="fa fa-angle-double-right"></i> <a href="/posts/{{ id }}" class="">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="timeline-entry">
        <div class="timeline-stat">
          <div class="timeline-icon"></div>
          <div class="timeline-time">2 Hours ago</div>
        </div>
        <div class="timeline-label">
          <div class="panel-body">
            <div class="panel-img">
              <img src="/assets/img/bg/3.jpeg" alt="" class="img-responsive"/>
            </div>
            <div class="panel-content pt">
              <h4>FaceLess - a new generation of social network or a fake?</h4>
              <small>By <a href="/profile/{{ author.id }}">{{author.name }}</a> | 5 Hours ago | 5 comments</small>
              <div class="mv">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
              <i class="fa fa-angle-double-right"></i> <a href="/posts/{{ id }}" class="">Read more</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Timeline header -->
      <div class="timeline-header">
        <div class="timeline-header-title">Yesterday</div>
      </div>

      <div class="timeline-entry">
        <div class="timeline-stat">
          <div class="timeline-icon"></div>
          <div class="timeline-time">2 Hours ago</div>
        </div>
        <div class="timeline-label">
          <div class="panel-body">
            <div class="panel-img">
              <img src="/assets/img/bg/4.jpg" alt="" class="img-responsive"/>
            </div>
            <div class="panel-content pt">
              <h4>FaceLess - a new generation of social network or a fake?</h4>
              <small>By <a href="/profile/{{ author.id }}">{{author.name }}</a> | 5 Hours ago | 5 comments</small>
              <div class="mv">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
              <i class="fa fa-angle-double-right"></i> <a href="/posts/{{ id }}" class="">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="timeline-entry">
        <div class="timeline-stat">
          <div class="timeline-icon"></div>
          <div class="timeline-time">2 Hours ago</div>
        </div>
        <div class="timeline-label">
          <div class="panel-body">
            <div class="panel-img">
              <img src="/assets/img/bg/5.svg" alt="" class="img-responsive"/>
            </div>
            <div class="panel-content pt">
              <h4>FaceLess - a new generation of social network or a fake?</h4>
              <small>By <a href="/profile/{{ author.id }}">{{author.name }}</a> | 5 Hours ago | 5 comments</small>
              <div class="mv">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
              <i class="fa fa-angle-double-right"></i> <a href="/posts/{{ id }}" class="">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="timeline-entry">
        <div class="timeline-stat">
          <div class="timeline-icon"></div>
          <div class="timeline-time">2 Hours ago</div>
        </div>
        <div class="timeline-label">
          <div class="panel-body">
            <div class="panel-img">
              <img src="/assets/img/bg/7.jpeg" alt="" class="img-responsive"/>
            </div>
            <div class="panel-content pt">
              <h4>FaceLess - a new generation of social network or a fake?</h4>
              <small>By <a href="/profile/{{ author.id }}">{{author.name }}</a> | 5 Hours ago | 5 comments</small>
              <div class="mv">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
              <i class="fa fa-angle-double-right"></i> <a href="/posts/{{ id }}" class="">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 pn">
    <div class="user mini-pofile mt">
      <!-- insert author here -->
    </div>
  </div>
</div>