<div class="row">
  <div class="col-md-12">
    <div class="panel-bg-cover">
      <img class="img-responsive" src="/assets/img/thumbs/img2.jpg" alt="Image">
      <div class="panel-bg-cover-shadow"></div>
    </div>
    <div class="panel-media">
      <div class="panel-media-img user-frame">
        <img src="/assets/img/av1.png" class="img-circle img-md" alt="Profile Picture">
      </div>
      <div class="row user-horizontal">

      </div>
      <div class="panel-body pn mt">
        <div class="tabs">
          <!-- Nav tabs -->
        </div>

        <!-- Tab panes -->
        <div class="tab-content pa">
          <div class="tab-pane overview overview-container">
            <!-- insert user overview -->
          </div>
          <div class="tab-pane posts posts-container">
            <!-- insert timline here  -->
          </div>
          <div class="tab-pane followers followers-container">
            <div class="row">
              No followers yet. Find someone and follow him/her!
              <!-- insert followers here -->
            </div>
          </div>
          <div class="tab-pane following following-container">
            <div class="row">
              No followings yet. Don't worry - they appear some day!
              <!-- insert following here -->
            </div>
          </div>
          <div class="tab-pane personalities">
            <div class="row">
              No personalities yet. Create one now!
            </div>
          </div>
          <div class="tab-pane settings">
            <div class="row mtx2">
              <div class="col-md-6 general-settings">
                <!-- insert general settings here  -->
              </div>
              <div class="col-md-6"></div>
            </div>
            <div class="row mtx3">
              <h5 class="bb pb">Security</h5>
              <div class="col-md-6 mt security-settings">
                <!-- insert Security settings here  -->
              </div>
              <div class="col-md-6"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>