<div class="row">
  <h3 style="margin-left:15px">Create a new post</h3>
  <div class="col-md-9 mt">
    <form action="" class="mn">
      <div class="form-group post-name">
        <input type="text" class="form-control" placeholder="Title of your post">
      </div>
      <div class="form-group post-description">
        <textarea class="form-control" rows="3" placeholder="Text of your post"></textarea>
      </div>

      <div class="form-group post-tags">
        <!-- insert tags here  -->
      </div>

      <button class="btn btn-primary full-width">Publish</button>
      <div class="loader hidden"></div>

    </form>
  </div>
</div>
