.sign-in, .sign-up, .recover, .recover-confirm{
  width: 350px;
  margin-left: -175px;
}
.via-social .facebook {
  padding-left: 0;
  padding-right: 5px;
}

.via-social .google {
  padding-right: 0;
  padding-left: 5px;
}
.input-button {
  font-size: 12px;
  position: absolute;
  top: 34px;
  right: 15px;
}
